body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1, h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.tela {
    display: none;
}

#placas-container, #placas-container-preventiva, #manutencao-pendente-container, #status-preventiva-container {
    margin-top: 20px;
}

button.placa {
    background-color: #2196F3;
    margin: 5px;
}

button.placa:hover {
    background-color: #0b7dda;
}

    button {
        width: 100%;
    }
}

